<div class="title">{{currentStream.broadcaster.username}}'s chat</div>
<ul id="messages">
    <li *ngFor="let chatEntry of chatEntries$ | async">
        <span class="sender">{{chatEntry.sender}}</span>
        <span class="message">{{chatEntry.message}}</span>
    </li>
</ul>
<!--  -->
<div class="input-group">
    <textarea #textarea class="form-control" rows="1" (keydown)="delayedResize($event, textarea)"></textarea>
    <div class="input-group-append">
        <button #sendButton class="btn btn-outline-secondary" type="button" (click)="sendMessage(textarea, sendButton)">Send</button>
    </div>
</div>